@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
        /* Define a altura do corpo como 100% da altura visível da janela (viewport) */
        height: 100vh;
    
        /* Cria um gradiente de cores de cima para baixo como plano de fundo */
        background: linear-gradient(to bottom, #000, #2a0887, #e606ae);
    
        /* Define o tamanho de fundo para cobrir toda a área disponível */
        background-size: cover;
    
        /* Impede a repetição do plano de fundo ao longo dos eixos */
        background-repeat: no-repeat;
    
        /* Fixa o plano de fundo para que ele não role com o conteúdo da página */
        background-attachment: fixed;
    
        /* Remove margens para o corpo */
        margin: 0;
    
        /* Define a cor do texto dentro do corpo como branco */
        color: white;
    }

    .cabecalho {
        text-align: center; /* Centraliza o conteúdo do cabeçalho */
        padding: 5% 5%; 
    }
    
    .cabecalho-menu {
        display: flex;
        justify-content: center; /* Centraliza os elementos dentro do cabeçalho */
        gap: 80px;
    }
    
    .cabecalho-menu-links {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px; /* Tamanho da fonte aumentado */
        font-weight: 800;
        color: #e606ae;
        text-decoration: none;
    }
    
    

.titulo-destaque {
            color: #22d4fd;
}

.conteudo {
        /* Define a altura do elemento como automática (ajustada ao conteúdo) */
        height: auto;
    
        /* Define a direção dos elementos filhos como coluna (de cima para baixo) */
        flex-direction: column;
    
        /* Define uma margem ao redor do elemento de 10% */
        margin: 10%;
    
        /* Transforma o elemento em um contêiner flexível */
        display: flex;
    
        /* Alinha os itens verticalmente no centro do contêiner */
        align-items: center;
    
        /* Distribui o espaço restante entre os itens horizontalmente */
        justify-content: space-between;
    }

.apresentacao-conteudo {
        /* Define a largura do elemento como 615px */
        width: 615px;
    
        /* Transforma o elemento em um contêiner flexível com direção de coluna */
        display: flex;
        flex-direction: column;
    
        /* Centraliza verticalmente os elementos dentro do contêiner */
        justify-content: center;
    
        /* Centraliza horizontalmente os elementos dentro do contêiner */
        align-items: center;
    
        /* Centraliza o alinhamento do texto dentro do contêiner */
        text-align: center;
    
        /* Define a altura do elemento como automática (ajustada ao conteúdo) */
        height: auto;
    
        /* Define o espaçamento entre os elementos filhos como 40px */
        gap: 40px;
    
        /* Define a ordem do elemento como 2 na ordem de exibição */
        order: 2;
    }

.apresentacao-conteudo-titulo {
        font-size: 36px;
        font-family: 'Krona One', 'sans-serif';
}

.apresentacao-conteudo-paragrafo {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
}

.apresentacao-links {
        /* Define a largura do elemento como 500px */
        width: 500px;
    
        /* Transforma o elemento em um contêiner flexível com direção de coluna */
        display: flex;
        flex-direction: column;
    
        /* Centraliza horizontalmente os elementos dentro do contêiner */
        align-items: center;
    
        /* Define o espaçamento entre os elementos filhos como 20px */
        gap: 20px;
    }
    
  .apresentacao-links-conteudo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
        }
    

.botao1 {
        background-color: #000;
        align-items: center;
        color: #b61ca9; /* Cor padrão do Instagram */
        width: 500px;   
        height: 80px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid#b61ca9;
        border-radius: 50px;
        font-size: 24px;
        padding: 15px 0;
        text-decoration: none;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
    }
    
    .botao1::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, transparent, #2a0887);
        transition: 0.5s;
    }
    
    .botao1:hover::before {
        left: 100%;
    }
    
    .botao1 i {
        position: absolute;
        font-size: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

.botao2 {
        background-color: #000;
        align-items: center;
        color: #fff; /* Cor padrão do GitHub */
        width: 500px;   
        height: 80px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        border-radius: 50px;
        font-size: 24px;
        padding: 15px 0;
        text-decoration: none;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
    }

    
    .botao2::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, transparent, #333);
        transition: 0.5s;
    }
    
    .botao2:hover::before {
        left: 100%;
    }
    
    .botao2 i {
        position: absolute;
        font-size: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .botao3 {
        background-color: #000;
        color: #0077B5; /* Cor padrão do LinkedIn */
        width: 500px;
        height: 80px;
        align-items: center;
        text-align: center;
        border: 2px solid #0077B5;
        border-radius: 50px;
        font-size: 36px;
        padding: 15px 0;
        text-decoration: none;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 2px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
    }
    
    .botao3::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, transparent, #0077B5);
        transition: 0.5s;
    }
    
    .botao3:hover::before {
        left: 100%;
    }
    
    .botao3 i {
        position: absolute;
        font-size: 60px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

.imagem {
        max-width: 35%;
        width: auto;
        border-radius: 5%;
        margin-right: 25px;
        
            /* Define a largura do elemento como 650px */
            width: auto;
        
            /* Define a altura do elemento como 650px */
            height: auto;
        
            /* Alinha o conteúdo ao centro horizontalmente */
            text-align: center;
        
            /* Alinha os itens verticalmente ao centro */
            align-items: center;
        
            /* Adiciona curvatura nos cantos do elemento */
            border-radius: 10px;
        
            /* Adiciona uma sombra suave ao elemento */
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
        
            /* Adiciona uma transição suave à escala do elemento */
            transition: transform 0.3s ease-in-out;
        
            /* Define a posição como relativa para uso de posicionamento absoluto */
            position: relative;
        
            /* Define o overflow como escondido para recortar conteúdo extra */
            overflow: hidden;
        
            /* Define a ordem do elemento como 1 na ordem de exibição */
            order: 1;
        
            /* Adiciona margem inferior de 80px */
            margin-bottom: 80px;
        }
        
        /* Elemento <img> dentro de elementos com a classe .imagem */
        .imagem img {
            /* Faz a imagem se ajustar mantendo a proporção */
            object-fit: cover;
        
            /* Torna a imagem um elemento de bloco */
            display: block;
        
            /* Define a largura e a altura como 100% para preencher o elemento pai */
            width: 100%;
            height: 100%;
        }
        
        /* Pseudo-elementos ::before e ::after para elementos com a classe .imagem */
        .imagem::before,
        .imagem::after {
            /* Adiciona um conteúdo vazio aos pseudo-elementos */
            content: "";
        
            /* Define a posição como absoluta para posicionamento personalizado */
            position: absolute;
        
            /* Define a largura e a altura dos pseudo-elementos como 10px */
            width: 10px;
            height: 10px;
        
            /* Adiciona uma borda de 2px sólida laranja aos pseudo-elementos */
            border: 2px color #f17bb0;
        
            /* Define o fundo dos pseudo-elementos como transparente */
            background-color: transparent;
        }
        
        /* Pseudo-elemento ::before ao canto superior esquerdo do elemento com a classe .imagem */
        .imagem::before {
            /* Posiciona o pseudo-elemento no canto superior esquerdo */
            top: 0;
            left: 0;
        
            /* Adiciona curvatura de borda no canto superior esquerdo */
            border-top-left-radius: 10px;
        
            /* Define as larguras das bordas do pseudo-elemento */
            border-width: 2px 0 0 2px;
        }
        
        /* Pseudo-elemento ::after ao canto inferior direito do elemento com a classe .imagem */
        .imagem::after {
            /* Posiciona o pseudo-elemento no canto inferior direito */
            bottom: 0;
            right: 0;
        
            /* Adiciona curvatura de borda no canto inferior direito */
            border-bottom-right-radius: 10px;
        
            /* Define as larguras das bordas do pseudo-elemento */
            border-width: 0 2px 2px 0;
        }
        
        /* Efeito ao passar o mouse sobre elementos com a classe .imagem */
        .imagem:hover {
            /* Aumenta a escala do elemento em 10% */
            transform: scale(1.1);
        }

        .rodape {
            color: white;
            background-color: #040307;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Krone One', sans-serif;
            font-size: 18px;
            font-weight: 400;
            padding: 10px;
        }

        .rodape a:hover {
            color: magenta;  
            text-decoration: none;
        }
